
<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row col-sm-12">
      <div class="form-group">
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control", autofocus: true %>
        </div>
      </div>
    </div>

      <div class="field">
        <%= f.label :gender %>
        <%= f.select :gender, %w{Male Female}, prompt: 'select', required: true, placeholder: 'gender' %>
      </div>

      <div class="field">
        <%= f.label :avatar %>
        <%= f.text_area :avatar %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
