
<% if @profile.image_data %>

  <div class="profile_img_container">
    <%= image_tag @profile.image_url, class: "profile_img" %>
  </div>
  <% else %>
  <% end %>
  <h1 align="center"><%= @profile.first_name %></h1>

  <% @paid_bookings.each do |booking| %>
  <table class="table table-responsive booking_table">
    <tr>
      <th>Course</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
    <tr>
      <td><%= booking.course_date.course.title %></td>
      <td><%= booking.course_date.date %></td>
      <td><%= booking.course_date.time.strftime("%H:%I") %></td>
    </tr>
  </table>
  <% end %>
<b>