 
<div class="container">
  <div class="row col-xs-12 basket">
    <div class="col-xs-offset-8 col-xs-12">
      <%= link_to 'Items', bookings_path, class: "basket_title" %><%= basket_icon %><%= @bookings.count %>
    </div>
  </div>
  <div class="row col-sm-12">
    <h3><%= @course.title %></h3>
  </div>
</div>
  <div class="container">
    <div class="available_dates row col-sm-12">    
      <span class="col-xs-8 available_title"><h4>Available Dates</h4></span>
    </div>
  </div>
  <%= render 'course_dates/dates', dates: @course.course_dates %>