
  <%#auto-slide disabled so user can navigate courses via button %>
  <div id="<%= category %>" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Wrapper for slides -->
    <%#Carousel will only display courses related to a particular category%>
    <div class="carousel-inner">
    <% categories.category_picker(category).courses.each_with_index do |course, index| %>
      <div class="item <%= index == 0 ? 'active' : '' %>">
        <%= image_tag course.image_url %>
        <div class="carousel-caption">
          <h3><%= course.title %></h3>
        </div>
      </div>
    <% end %>
    </div>
    <!-- Controls -->
    <a id="<%= category %>" class="left carousel-control" href="#<%= category %>" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a id="<%= category %>" class="right carousel-control" href="#<%= category %>" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div> <!-- Carousel -->
