<% if obj.image_data %>
<%= image_tag obj.image_url, class: "img-responsive" %>
<% else %>
<% end %>
<div class="container">
  <h3><%= obj.title %></h3>
  <div class="row col-xs-12">
    <div class="col-xs-4">
      <h4>$<%= obj.price %></h4>
    </div>
    <div class="col-xs-4">
     <div class="clock_container"><%= time_icon %> <span class"duration"><%= obj.duration %>hrs</span></div>
    </div>
    <%# delete options for user of course%>
    <% if obj.user == current_user %>
    </div class="row col-xs-6">
      <div class="col-xs-6">
        <%= link_to "edit", edit_course_path(obj), class: "btn btn-default btn-sm" %>
        <%= link_to "delete", course_path(obj), method: :delete, data: {confirm: "Are you sure you want to delete the article?"}, 
                                        class: "btn btn-danger btn-xs""btn btn-default btn-sm" %>
      </div>
    </div>
    <% elsif
        user_signed_in? && current_user.profile.present? %>
    <div class="col-xs-4">
      <%= link_to "book", new_booking_path(course: obj), class: "btn btn-default btn-sm" %>
    </div>
    <% else %>
     <div class="col-xs-4">
      <%= link_to "book", new_booking_path(course: obj), class: "btn btn-default btn-sm" %>
    </div>
      <% end %>
  </div>
</div>
<div class="container course_box">
  <div class="row">
    <div class="col-sm-12 course_text_box">
      <h4>Description</h4>
      <p><%= obj.description %></p>
    </div>
    <div class="col-sm-12 course_text_box">
      <h4>About teacher</h4>
      <p><%= obj.about_teacher %></p>
    </div>
    <div class="col-sm-12 course_text_box">
      <h4>Notes</h4>
      <p><%= obj.notes %></p>
    </div>
      <h4><%= obj.address %></h4>
      <h5><%= obj.city %></h5>
  </div>
</div>