<div class="container">

<% dates.each do |date| %>
  <table class="table table-responsive booking_table">
    <tr>
    
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
    <tr>

      <td><%= date.date %></td>
      <td><%= date.time %></td>
      <% if date.course.user == current_user %>
        <td><%= link_to :delete, course_date_path(date), method: :delete, 
                                          data: {confirm: "Are you sure you want to delete the article?"}, 
                                          class: "btn btn-danger btn-xs"  %></td>
      <% else %>
      
        <td><%= link_to :add, bookings_path(course_date: date, user_id: current_user), method: :post, class: "btn btn-default btn-xs" %>
      <% end %>
    </tr>
  </table>
  
  <% if paid_dates.exists?(course_date_id: date.id) %>
    <div class="container">
      <div class="attending_dates row col-sm-12">    
        <h4 align="center">Attending</h4>
      </div>
    </div>
    <% end %>
<br>
  <% end %>
  <%= link_to 'Finish', course_path(@course), class: "btn btn-default btn-block" %>
</div>
