<% dates.each do |date| %>
  <table class="table table-responsive">
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
    <tr>
      <td><%= date.course.title %></td>
      <td><%= date.date %></td>
      <td><%= date.time %></td>
      <% if date.course.user == current_user %>
        <td><%= link_to :delete, course_date_path(date), method: :delete, 
                                          data: {confirm: "Are you sure you want to delete the article?"}, 
                                          class: "btn btn-danger btn-xs"  %></td>
      <% else %>
      
        <td><%= link_to :add, bookings_path(course_date: date, user_id: current_user), method: :post, class: "btn btn-default btn-xs" %>
      <% end %>
    </tr>
  </table>
  <div class="row col-sm-12">
    <div class="col-xs-offset-2 col-xs-8">
      <%= link_to 'Finish', course_path(date.course), class: "btn btn-default btn-block" %>
    </div>
  </div>
<% end %>
