<div class="container">
<h1><%= current_user.profile.first_name %></h1>
<%= form_tag charges_path, method: 'post', id: 'payment-form' do %>
  <% @bookings.each do |booking| %>
    <table class="table table-responsive">
      <tr>
        <th>Course</th>
        <th>Date</th>
        <th>Time</th>
        <th>price</th>
      
      </tr>
      <tr>
        <td><%= booking.course_date.course.title %></td>
        <td><%= booking.course_date.date %></td>
        <td><%= booking.course_date.time.strftime('%W:%I') %></td>
        <td><%= booking.course_date.course.price %></td>
      </tr>
    </table>
  <% end %>
  <div class="row col-xs-offset-5 col-xs-12">
    <div class="col-xs-4">
      <h3>TOTAL</h3></td>
    </div>
      <div class="col-xs-8">
      <h3>$<%= @total %></h3>
    </div>
  </div>

    <p>You will receive email after payment confirming your booking.</p>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount= <%= @total * 100 %>
            data-locale="auto"></script>
            <li align="center"><%= link_to '[ cancel transation ]', cart_path %></li>
</div>
<% end %>